# Ignorer le fichier de credentials Google Drive
credentials.json

# Ignorer les fichiers Python compilés
*.pyc
__pycache__

# Ignorer les répertoires de logs
logs/

# Ignorer les environnements virtuels
venv/
